<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recurrence Risk Calculation Failure</title>
  </head>
  <body>
    Dear Recurrence Risk User,
    <br />
    <p>
      The file
      <b>{{ individualDataFileName }}</b>
      you submitted on {{ timestamp }} could not be processed due to an internal
      error. Please contact
      <a href="mailto:NCIRiskRecurrenceWebAdmin@mail.nih.gov">
        NCIRiskRecurrenceWebAdmin@mail.nih.gov
      </a>
      if this issue persists.
    </p>
    - SOCcer Team
  </body>
</html>
